*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
/* header */
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background:#fff;
}

.header_superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px   
}

.logo img{
    width: 60px;
}

.logo img:hover{
    width: 100px;
    transition: all 400ms ease;
}


.search input{
    width: 250px;
    padding: 5px;
}

.inicio_sesion{
    margin-left: 480px;
}


h2{
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}

.imagen-vista img{
    height:350px;
    width: 500px;
    background-size: cover;
    position:center;
}

.inicio_sesion .regis{
    margin: 10px;
    padding: 6px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: none;
    color: white;
    font-size: 14px;
    background-color: #015668;
}
.inicio_sesion .regis:hover{
    background-color: #2077b1;
}

.inicio_sesion .ingres{
    margin: 10px;
    padding: 6px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: none;
    color: white;
    font-size: 14px;
    background-color: #015668;
}

.inicio_sesion .ingres:hover{
    background-color: #2077b1;
}

/*BARRA MENU*/
.container_menu{
    width: 100%;
    height: 50px;
    background-color:#0d6274 ;
    padding:0px 40px;
}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
}

nav  ul  li{
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li:first-child > a{
    background-image: url(../imagenes/white-house-clipart-icon-white-house-icon-1033581.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 30px;

}

nav > ul > li:first-child:hover > a{
    background-image: url(../imagenes/white-house-clipart-icon-white-house-icon-1033581.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 30px;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 300ms ease;
}

nav > ul > li > a:hover{
    transform: scale(1.1);
    background-color:#06648C;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5) ;
}

#selected{
    /* transform: scale(1.1); */
    background-color:#06648C;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5) ;
}

/*submenu*/

nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position:absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;

}

nav ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color: #47B5FF;
    padding: 6px;
    padding-left: 10px;
    margin-top: 12px;
    text-transform: uppercase;
    transition: all 300ms ease;
    font-size: 12px;
}

nav ul li ul li:hover{
    background-color:#DFF6FF;
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/* main */
main{
    background: #f0f0f0;
    padding: 40px 20px;
    margin-top: 194px;
    text-align: center;
    align-items: center;
}

/* contenido */
body{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container{
    width: 100%;
    display: flex;
    max-width: 1100px;
}

.card{
    border-color: solid #061925 2px;
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0,0, 0.4);
    transform: translateY(-3%);
}

.card img{
    width: 100%;
    height: 210 px;
}

.card .contenido{
    padding: 15px;
    text-align: center;

}

.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}

.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .contenido a:hover{
    background: #2fb4cc;
    color: #fff;
}

/* footer */
.pie-pagina{
    width: 100%;
    background-color: #061925;
    height: 20%;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 120px;
    border-radius: 750px;
}

.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    font-size: 13px;

}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color:#fff;
}