.boton {
    position: relative;
    background-color: #454545;
    color: rgb(0, 145, 207);
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 50px;
  }
  body{
    background-image: url(img/competo3.jpg);
  }
  body{
    
    color: rgb(235, 243, 243);
  }




 
  .image-container{
    height: 800px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/IMG/t1.jpg);
    background-size: 200vw;
    background-position: top left;
    animation: bg-movement 40s linear infinite;
    
    
    
  }
  
  @keyframes bg-movement{
    0%{
        background-position: top left;
    }
    50%{
        background-position: bottom right;
    }
    100%{
        background-position: top left;
    }
  }
  
  


  