.boton {
    position: relative;
    background-color: #454545;
    color: rgb(0, 145, 207);
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 50px;
  }
  body{
    background-image: url(img/competo3.jpg);
  }