
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(186, 216, 220);
    
}
/* header sup */
.header__superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}

.dos{
    height: 1000px;
    width: 1100px ;
}
.logo img{
    width: 130px;
    height: 130px;
    border-radius: 100px;
    
}
.search input{
    width: 300px;
    padding: 10px;
}
/* barra menu */
.container__menu{
    width: 100%;
    height: 70px;
    background-color: rgb(32, 127, 171);
    padding: 0px , 20px;
    margin-top: -20px;
    background-image: url(img/c1.jpg);
}
.container__menu{
    height: absolute;
}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}
nav{
    height: 100%;
}
nav > ul{
    height: 100%;
    display: flex;    
}
nav ul li{
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li:first-child > a{
    background-image: url(IMG/hom3.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}
nav > ul > li:first-child:hover > a{
    background-image: url(IMG/hom3.png);
    background-size: 44px;
    background-repeat: no-repeat;
    background-position: center center;
    

}
nav > ul > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
     margin-left: -20%;
    margin-top: 0%;
}
nav>ul>li>a:hover{
    transform: scale(1.1);
    background-color: rgb(0, 141, 124);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}

#selected{
    transform: scale(1.1);
    background-color: rgb(0, 141, 124);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}

/* menu secundario */
nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: rgb(123, 199, 212);
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    z-index: 10;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70 px;

}
nav ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgb(52, 54, 53);
    position: absolute;
    top: -12px;
    left: 20px;
    
}
 
nav ul li ul li a{
    display: block;
    color: grey;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
    
}
nav ul li ul li a:hover{
    background: rgb(28, 90, 90);
    color: rgb(0, 0, 0);
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    
}
/* elementos responsivos */
.icon__menu{
    
    font-size: 26px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}
/*  */
#label__check{
    width: 26px;
    height: 100%;
    display: none;

}
#check__menu{
    display: none;
}


/* ancho pag */
@media screen and (max-width:720px) {
    
    .search input{
        display: none;
    }
    .header__superior{
        padding: 10px
    }
    .logo img{
        width: 200px;
    }
    nav > ul{
        
        flex-direction: column;
        background-color: rgb(171, 171, 176);
        position: fixed;
        left: 0;
        top: 158px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        /* opacity: 0;
        visibility: hidden; */
    }
        nav > ul>li>a:hover{
            transform: scale(1);
        }
        nav ul li ul{
            left: 90px;

            }
        nav>ul>li:hover ul{
            top: 50px;
            }

        nav >ul>li:first-child a{
            background-position: 20px;

        }
            #selected{
                transform: scale(1);
            }

        /* ter */
}
   #label__check{
            display: block;
        }
        .icon__menu{
            display: flex;
        }

        #check__menu:checked ~ nav ul{
            height: 300px;
            visibility: visible;
            opacity: 1;
        }
        main{
            background-color: rgb(26, 88, 132);
            padding: 40px 20px;
            margin-top: 194px;
            
        }
        article{
            max-width: 1200px;
            margin: 20px auto;
            padding: 40px;
            
        }
        article p{
            margin-top: 20px;
            font-size: 18px;
            font-weight: 300px;
        }
        main{
            margin-top: -40px;
        }
        