body {
  margin: 0;
  padding: 0;
  background: url() no-repeat center ;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}
.fcc-btn {
  background-color: #73c5c2d3;
  color: white;
 
}
a{
  border-radius: 5px;
  padding: 10px 7px;
  text-decoration: none;
  color: #fff;
  background-color: #333;
  margin: 5px;
  
}

.ti{
  font-size: 30px;
}
.titulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgba(0, 0, 0, 0.815)
}
.sub {
  font-family: cursive;
  font-size: 15px;
}
.login-box {
  font-family: 'Times New Roman', Times, serif;
  width: 320px;
  height: 615px;
  background: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.71);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 60px 50px;
  border-radius: 60px;
  font-size: 17px;
}
.al{
  font-size: 15px;
  color: rgba(61, 54, 51, 0.943);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}


.login-box .avatar {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 25px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="contraseña"] {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.977);
  background: transparent;
  outline: none;
  height: 40px;
  color: #000000;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #000000;
  color: rgb(158, 239, 243);
  font-size: 20px;
  border-radius: 20px;
}

.one{
  color: #114a31;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #d90f0fca;
  color: rgb(204, 27, 27);
}

.login-box a {
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  color: rgba(22, 5, 108, 0.802);
  
}

.login-box a:hover {
  color: #000000;
}
.init{
  font-size: 30px;
}
















header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 0 5%;
  position: absolute;
  top: 0;
  left: 0;
}


/*Button fixed*/

.chat-button{
  height: 100%;
  width: 60px;
  border-radius: 60px;
  background: url(Icon.svg);
  background-color: royalblue;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.logo{
  height: 40%;
}

.menu-container{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item{
  font-family: 'Syncopate', sans-serif;
  font-size: 12px;
  margin-left: 2.5em;
  color: #f2f2f2;
  text-transform: uppercase;
  cursor: pointer;
}

.menu-item:hover{
  color: royalblue;
}

.image-container{
  height: 800px;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/IMG/t1.jpg);
  background-size: 200vw;
  background-position: top left;
  animation: bg-movement 40s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes bg-movement{
  0%{
      background-position: top left;
  }
  50%{
      background-position: bottom right;
  }
  100%{
      background-position: top left;
  }
}

.page-title{
  text-transform: uppercase;
  color: #f2f2f2;
  font-size: 60px;
  font-family: 'Syncopate', sans-serif;
}

.post{
  font-size: 20px;
  width: 70%;
  margin: 5rem auto;
  line-height: 28px;
}
